<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= description %></h2>
    <% for(var i=0; i<itens.length; i++) { %>
      <h3><%= itens[i].title %></h3>
      <%- itens[i].description %>
      <br />
      <hr />
      <br />
    <% } %>
  </body>
</html>
